@font-face {
    font-family: "Madina";
    src: url(./madina/Madina.otf) format("opentype");
}
body {
    background-color: #fedd72;
    font-family: "Madina", sans-serif;
    margin: 0;
}
p {
    font-family: "sans-serif";
    padding: 10px;
    margin: 0;
}
#logo {
    width: 220px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px;
}
nav {
    border-radius: 15px 15px 0 0;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    display: flex;
    font-size: 25px;
    align-items: stretch;
}
a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    width: 100%;
    height: 100%;
}
nav div {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
    background-color: #c82413;
}
#home {
    border-radius: 15px 0 0 0;
}
#timer {
    border-radius: 0 15px 0 0;
}

nav div:hover {
    background-color: #3f7f18;
}
main {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #4f4020;
    min-height: 400px;
}